.ventas-container{
padding:30px;
}

/* TABLA */

.tabla-container{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
margin-top:20px;
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
}

thead{
background:#1f2937;
color:white;
}

th{
padding:12px;
text-align:left;
}

td{
padding:10px;
border-bottom:1px solid #e5e7eb;
}

tbody tr:hover{
background:#f9fafb;
}

/* PRECIO */

.precio{
font-weight:bold;
color:#22c55e;
}

/* TOTAL VENTAS */

.total-ventas{
margin-top:30px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;
}

.total-ventas h2{
margin-bottom:10px;
color:#374151;
}

.total-ventas h1{
color:#22c55e;
font-size:36px;
}