<div class="container mt-5">

  <h2 class="text-center text-primary mb-4">
    Lista de Alumnos
  </h2>

  <table class="table table-bordered table-hover table-striped shadow">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Carrera</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.edad}}</td>
        <td>{{alumno.carrera}}</td>
      </tr>
    </tbody>
  </table>

</div>
